{% extends "layout.html" %}

{% block title %}
    Buy:
{% endblock %}

{% block main %}
    <h2> Enter the symbol of the action you wanna buy </h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="buy" name="symbol" placeholder="symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="shares number" type="number"> <!-- type = "number" ??-->
        </div>

        <button class="btn btn-primary" type="submit">Submit Purchase</button>
    </form>
{% endblock %}
